@import url("https://fonts.googleapis.com/css2?family=REM&display=swap");

:root {
  --search-text: rgb(165, 165, 165);
  --search-bar-bg: rgb(241, 241, 241);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: "REM", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  padding: 18px 36px;
  border-bottom: 1px solid rgb(230, 229, 229);
}

.nav-list {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 18px;
}

.nav-item {
  list-style: none;
}

.nav-item a {
  text-decoration: none;
  color: black;
}

.nav-logo {
  width: 100%;
  max-width: 40px;
  min-width: 36px;
  margin-right: 36px;
}

.nav-buttons {
  display: flex;
  align-items: center;
}

.link-side-buttons {
  border: none;
  background: transparent;
}

.fa-chevron-down {
  font-size: 0.75rem;
  margin-left: 6px;
}

.nav-funcs {
  margin-left: auto;
}

.nav-profile {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  display: flex;
  align-items: center;
}

.search-bar {
  width: 100%;
  max-width: 700px;
  border-radius: 5px;
  padding: 4px 8px;
  background: var(--search-bar-bg);
  display: flex;
  align-items: center;
}

.fa-magnifying-glass {
  color: var(--search-text);
  font-size: 0.85rem;
  margin-right: 8px;
}

.search-text {
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
}

.search-text::placeholder {
  color: var(--search-text);
}

.create-button {
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  padding: 6px 12px;
  color: white;
  background: rgb(49, 159, 237);
}

.create-button:active {
  background: rgb(35, 116, 173);
}

.hamburger {
  background: transparent;
  border: none;
  font-size: 1.8rem;
  margin-left: 18px;
  display: none;
}

.browse-button-container {
  position: relative;
}

.browse-menu {
  background: white;
  box-shadow: 8px 8px 5px var(--search-bar-bg);
  display: grid;
  display: none;
  grid-template-columns: 2fr 1fr;
  border: 2px solid var(--search-bar-bg);
  border-radius: 12px;
  width: 600px;
  padding-inline: 36px;
  position: absolute;
}

.highlights {
  padding: 24px 0px;
  padding-right: 24px;
}

.hi-logo {
  background: var(--search-bar-bg);
  padding: 8px;
  border-radius: 12px;
}

.hi-li-item {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.hi-item-container p {
  color: var(--search-text);
}

.apps {
  border-left: 2px solid var(--search-bar-bg);
  padding: 24px 0px;
  padding-left: 24px;
}

.apps-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.app-li-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media screen and (max-width: 1015px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}

@media screen and (max-width: 570px) {
  .nav-funcs {
    display: none;
  }

  .hamburger {
    margin-left: auto;
  }
}
